<!-- Navbar component for landing page - use in index.html -->
<nav>
  <a class="nav-logo" href="index.html">
    <div class="nav-logo-icon">A</div>
    ApplyAi
  </a>
  <ul class="nav-links">
    <li><a href="#">Home</a></li>
    <li><a href="#">Explore</a></li>
    <li><a href="#">Scholarships</a></li>
    <li><a href="#">Universities</a></li>
    <li><a href="#">Learn</a></li>
    <li><a href="#">Community</a></li>
  </ul>
  <div class="nav-right">
    <a class="btn-ghost" href="auth/login.html">Login</a>
    <a class="btn-primary" href="auth/signup.html">Get Started</a>
  </div>
</nav>
